p This information is highly confidential. Please do not share or discuss with anyone.

p Rate the following categories using the following scale:

p 1 - Poor (rarely meeting expectations)

p 2 - Needs improvement (not meeting expectations)

p 3 - Satisfactory (meets expectations)

p 4 - Good (exceeds expectations)

p 5 - Very Good (almost always exceeds expectations & holds a high standard)
