body
{
  padding-top: 60px;
}
.centered-form
{
  width: 40%;
  margin: auto;
}

h3.panel-title small
{
  color: #f1f1f1;
}

//
#sign-up-form-container {
	background: #fff;
	width: 380px;
	padding: 30px;
	margin-top: -10px;
	h2 {
		margin: 0;
		padding: 0;
	}

	#error_explanation {
		background: #f2dede;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		h2 {
			font-size: 14px;
			margin: 0 0 5px 0;
			padding: 0;
		}
		ul {
			margin: 0;
		}
	}
}