body
{
  padding-top: 60px;
}
.centered-form
{
  width: 40%;
  margin: auto;
}

h3.panel-title small
{
  color: #f1f1f1;
}

.text-info {
  margin-right: 4px;
  display: inline;
  &.blue {
    color: #285e8e;
  }
}

.user-exams {
  .label-info {
    margin-right: 5px;
  }
}

//
#sign-up-form-container {
	background: #fff;
	width: 380px;
	padding: 30px;
	margin-top: -10px;
	h2 {
		margin: 0;
		padding: 0;
	}

	form {
		margin-top: 10px;
		#error_explanation {
			background: #f2dede;
			padding: 10px;
			margin-top: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			h2 {
				font-size: 14px;
				margin: 0 0 5px 0;
				padding: 0;
			}
			ul {
				margin: 0;
			}
		}
	}
}

// Login
#login-form-container {
	margin-top: 40px;
	border: none;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	.panel-heading {
		border: none;
		border-color: none;
		background: none;
		color: #000;
		text-align: center;
		h3 {
			font-size: 24px;
		}
	}
}

// Sidebar
#sidebar {
	ul.nav {
		// border: 1px solid #000;
		li {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			background: #f5f5f5;
			a {
				height: 100%;
				i {
					font-size: 70px;
				}
				span {
					position: relative;
					font-size: 20px;
					top: -16px;
					left: 10px;
				}
			}
		}
		li.active {
			background: #fff;
		}
	}
}